@charset "utf-8";
/* CSS Document */

/* Feuille de style pour la mise en page */



/* MISE EN PAGE */



/* Definition of base element */

	html, body {

		xheight:100%;
	}

/* Heading Main */
.heading_main {
	padding:3px 5px 3px 5px;
	font-family:'Trebuchet MS';
	font-size:20px;
	color:#980000;
	font-weight:bold;
}
/* Heading Sub */
.heading_sub {
	padding:3px 5px 3px 5px;
	font-family:'Trebuchet MS';
	font-size:15px;
	color:#0043b1;
	font-weight:bold;
}

/*Images*/	

	img {
		margin:0;
		padding:0;
		border: none;
	}

/*End Images*/

/* Typography */		

	p {
		font-size: 1em;
		margin: 0 0 1.3em 0;
		padding: 0;
		line-height:1.5em;
		
	}

	h1 {
		font-size: 2em;
		line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
       	
	}
	
	h2 {
		font-size: 1.5em;
       	line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
		color:#3a5713;
		
       
	}



	h3 {
		font-size: 1.3em;
       	line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
		color:#0043b1;
		
       
	}
/* End Typography */		

/* Links */

	a,	a:link,	a:active {
		color:#3a5713;
		text-decoration: none;
	}

	a:hover {
        color:#3a5713;
		text-decoration: underline;
        
	}

/* End Links */

body {
	margin: 10px 0px 0px 0px;
	padding: 0;
	font-family:"Trebuchet MS";
	font-weight:normal;
	text-align: left;
	font-size: 12px;
	color:#414141;
	background: #eae9e7 url(images/body-back.gif) repeat-x top left;
}
	
	.subpages {
	
		background: #eae9e7 url(images/body-subpages.gif) repeat-x top left;
	
	}

	

	#wrapper {
	
		min-height:100%;
		position:relative;

    }
	
	* html #wrapper {
	
		height:100%

    }
	
	#container{
		
		margin:0 auto;
		width:800px;
		padding:0px 15px 85px 15px;
		

    }
	
	#topbar {
	
		height:35px;
	
	}
	
	ul#lang {
		padding:0px;
		margin:0px;
		list-style:none;
		
		float:left;	
		
	}
	
	ul#lang li{
		float:left;
		display:inline;
		
	}
	
	ul#lang li a{
		float:left;
		display:inline;
		margin:0 2em 0 0;
		padding:0 0 0 2.5em;
		line-height:35px;
		
		text-decoration:none;
		
	}
	a.english {
	
		background:url(images/ca.gif) no-repeat left center;
	
	}
	
	a.japanese {
	
		background:url(images/jp.gif) no-repeat left center;
	
	}
	
	a.mongolian {
	
		background:url(images/mn.gif) no-repeat left center;
	
	}
	
		a.farsi {
	
		background:url(images/ir.gif) no-repeat left center;
	
	}
	
	ul#icon {
		padding:0px;
		margin:0px;
		list-style:none;
		float:right;	
		
	}
	
	ul#icon li{
		float:left;
		display:inline;
		
	}
	
	ul#icon li a{
		float:left;
		display:inline;
		margin:0 0 0 1em;
		padding:10px 0 0 0;
		text-decoration:none;
		
	}
	
	


/*Header and menu */	

	.header{
			
		position:relative;
				
    }
	
	.home {
	
		height:243px;
		background: url(images/h1-back.jpg) no-repeat top left;
	
	}
	
	.sub {
	
		height:171px;
		background: url(images/h1-subpages.jpg) no-repeat top left;
	
	}
	
	
	
	.header h1 {
	
		display:block;
		position:absolute;
		top:45px;
		left:0px;
		height:80px;
		width:325px;
		margin:0;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		
		
	}
	
	.header h1 a {
	
		display:block;
		height:80px;
		width:325px;
		
	}
	
	.home img {
	
		position:absolute;
		top:13px;
		left:482px;
		padding:6px;
		background:#eae9e7;
		
	
	}
	
	.sub img {
	
		float:right;
	
	}
	
	ul.menu  {
		
		margin:0;
		
		padding:0;
		text-align:center;
		list-style:none;
		font-size:14px;
		letter-spacing:1px;
		height:47px;
		
		float:left;	
		/*background: url(images/bar.gif) no-repeat right center;*/
		
	}
	
	ul.menu li{
		float:left;
		display:inline;
		/*background: url(images/bar.gif) no-repeat left center;*/
		
	}
	
	ul.menu li a{
		float:left;
		display:inline;
		padding:0 1.5em;
		line-height:47px;
		text-transform:uppercase;
		text-decoration:none;
		
	}
	
	ul.menu li a:hover {
	
		text-decoration:underline;
		
	
	}
	
	li.current a{
		
		color:#fff;
		text-decoration:none;
		background:#3b5913 url(images/menu-current.gif) repeat-x top left;
		
	}
	
	ul.menu li a:hover {
	
		color:#fff;
		text-decoration:none;
		background:#3b5913 url(images/menu-current.gif) repeat-x top left;
	
	}
	
	
	
	
	
	
		
	
	
/*End Header and menu */

/*Content*/

	#content {
	
		clear:both;
		padding-top:20px;
		
		
	
	}
	
	.block {	
		float:left;
		display:inline;
		width:48%;
		padding:0;
		margin:0;
		margin-right:30px;
		margin-bottom:10px;	
		*margin-bottom:-20px;		
	}
	
	.block ul {
	
		padding-left:25px;
		width:165px;
		font-size:12px;
		float:left;
		margin:0 0px 0 0;
	
	}
	
	.block ul li{
	
		margin:0px 0px 10px 0px;
	
	}
	
	
	a.form-home {
	
		display:block;
		height:31px;
		width:200px;
		margin:0px 0px 20px 0px ;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		background:url(images/form-home.jpg) no-repeat top left;
		outline:none;
	
	}
	
	
	a.form-home:hover {
	
		background:url(images/form-home.jpg) no-repeat bottom left;
	
	}
	
	a.contact-now {
	
		display:block;
		height:31px;
		width:200px;
		margin:0px 0px 20px 0px ;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		background:url(images/contact-now.jpg) no-repeat top left;
		outline:none;
	
	}
	
	
	a.contact-now:hover {
	
		background:url(images/contact-now.jpg) no-repeat bottom left;
	
	}
	
	
	.main {
	
		float:left;
		display:inline;
		width:560px;
		margin-bottom:20px;
		
	
	}
	
	.full {
		width:100%;	
	}
	
	.eligibility {
		
		float:none;
		
		width:100%;
	
	}
	
	.block h2, .main h2, .eligibility h2 {
	
		background:url(images/h2-back.gif) no-repeat left center;
		padding:0px 0px 0px 45px;
		font-size:2em;
		font-weight:bold;
	
	}
		
	.eligibility h3 {
	
		
		background: url(images/line.gif) repeat-x bottom left;
		padding:0px 0px 5px 0px;
		margin:10px 0px 10px 0px;
		
	
	}
	
	.team {
	
		
		margin: 0px 0px 0px 0px;
	
	}
	
	.team img {
	
		float:left;
		padding:10px;
		margin: -5px 20px 0px -5px; 
		background:url(images/frame.gif) no-repeat left center;
	
	}
	
	.team h3 {
	
		color:#3a5713;
		font-size:1.6em;
		margin:0 0 10px 0px;
	
	}


/* Services */

	ul.services {
	
	}
	
	ul.services li {
	
		padding:0px;
		margin:0px 0px 10px 0px;
	
	}
	
/* News */

	.news-block {
	margin-top: -30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
	}
	
	.news-block-home {
	
		margin:0px 0px 5px 0px;
	
	}
	
	.news-block-home h3 {
	
		margin:0px 0px 0px 0px;
		font-weight:normal;
	
	}
	
	.news-block h2 {
	
			
		padding:0px 0px 0px 0px;
		margin:30px 0px 0px 0px;
		font-size:1.7em;
		font-weight:bold;
		background:none;
	
	}
	
	.news-block a {
	
		text-decoration:underline;
	
	}
	
	.news-block h4 {
	
		color:#777;
		margin:0px 0 10px 0;
		font-size:12px;
		font-weight:normal;
		padding-bottom:3px;
		background: url(images/line.gif) repeat-x bottom left;
	
	}
	
	/*h5 for the testimonials page */
	
	h5 {
	
		color:#777;
		margin:10px 0 20px 0;
		font-size:12px;
		font-weight:normal;
		font-style:italic;		
		padding-bottom:25px;
		background: url(images/line.gif) repeat-x bottom left;
	
	}
	
	
	p.small {
	
		color:#777;
		margin:0px 0 10px 0;
		padding-bottom:3px;
		background: url(images/line.gif) repeat-x bottom left;
	
	}
	
	p.small-home {
	
		color:#777;
		margin:-10px 0 0px 0;
		padding-bottom:3px;
		font-size:11px;
		
	
	}
	
/* End News */

/* FAQ */

	.faq-block {
	
		margin:0px 0px 15px 0px;
		padding:5px 0 10px 0;
		background: url(images/line.gif) repeat-x bottom left;
	
	}
	
	.faq-block h2 {
	
			
		padding:0px 0px 0px 40px;
		margin:0px 0px 10px 0px;
		font-size:1.6em;
		font-weight:bold;
		background: url(images/question.png) no-repeat center left;
	
	}
	
	.faq-block a {
	
		text-decoration:underline;
	
	}
	
	.faq-block p {
	
		margin-left:40px;
	
	}


/* End FAQ */

/* Contact */

	p.contactinfo {
	
		font-weight:bold;
		
		background:#f9f9f9;
		
		border:1px #ccc dotted;
		padding:10px;
		margin:10px 0px 10px 0px;
	
	}

	
/* Sidebar */	
	
	.sidebar {
	
		float:right;
		display:inline;
		margin:5px 0px 0px 0px;
		width:200px;
	
	}
	
	a.formbutton {
	
		display:block;
		height:60px;
		width:200px;
		margin:0px 0px 20px 0px ;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		background:url(images/form-button.jpg) no-repeat top left
	
	}
	
	
	a.formbutton:hover {
	
		background:url(images/form-button.jpg) no-repeat bottom left
	
	}
	
	
	.sidebox ul{
	
		margin:0px 0px 20px 0px ;
		padding:0px 0px 10px 0px;
		list-style:none;
		background: #f5f5f5 url(images/sidebox-bottom.gif) no-repeat bottom left;
	
	}
	
	.sidebox li {
		
		border-top:#eae9e7 1px solid;	
		
	}
	
	.sidebox li a {
		
		display:block;
		padding:10px 10px 10px 15px;
		margin:0px;
		color:#666;
		text-transform:none;	
		
		border-top:#fff 1px solid;
		
	}
	
	
	.sidebox li a:hover {
		
		
		color:#adadac;
		text-decoration:none;
		
	}
	
	.sidebox h2{
	
		color:#eae9e7;
		font-size:1.4em;
		margin:0px 0px 0px 0px ;
		padding:5px 0px 7px 35px;
		background: url(images/sidebox-top-g.png) no-repeat top left;
	
	}
	
	.sidebox li a.side-phone {
		
		display:block;
		
		padding:15px 10px 15px 55px;
		
		font-size:14px;
		background: url(images/side-phone.png) no-repeat 8% 50%;
		
		
	}
	
	.sidebox li a.side-fax {
		
		display:block;
		
		padding:15px 10px 15px 55px;
		
		font-size:14px;
		background: url(images/side-fax.png) no-repeat 8% 50%;
		
		
	}
	
	.sidebox li a.side-mail {
		
		display:block;
		
		padding:15px 10px 15px 55px;
		
		font-size:14px;
		letter-spacing:1px;
		background: url(images/side-mail.png) no-repeat 8% 50%;
		
		
	}
	
/* End Sidebar */	
/*End Content*/
	
/*Footer */
	
	#footer{
	
		position:relative;
		
		margin-top:-79px;
		height:79px;
		min-width:830px;
		background: #3a5813 url(images/footer-back.gif) repeat-x top left;
		

    }
	
	.footer-block {
	
		clear:both;
		margin:0 auto;
		text-align:left;
		padding-top:31px;	
		line-height:40px;
		width:800px;
		height:48px;
		
		color:#fff;
		
	}
	
	.footsub {
	
		background:url(images/footer-globe.gif) no-repeat top left;
	
	}
	
	.footer-block a {
	
		color:#fff;
	
	}
	
	.footer-block p{
	
		float:left;
		padding:0px;
		margin:0px;	
		margin-top:-12px;	
		font-size:0.9em;
		font-weight:bold;
		line-height:40px;
			
	}
	
	
	
	.footer-block ul{
	
		padding:0px;
		float:right;
		margin:0px;
		margin-top:-12px;	
		font-size:1.2em;
		list-style:none;
	}
	
	.footer-block ul li{
	
		float:left;
		list-style:none;
		
		margin:0;
		
		margin-left:1.5em;
		
	}
	
	li.phone {
	
		padding:0px 0px 0px 40px;
		background:url(images/phone.png) no-repeat left center;
	
	}
	
	li.email {
	
		padding:0px 0px 0px 47px;
		background:url(images/email.png) no-repeat left center;
	
	}
	
	li.fax {
	
		padding:0px 0px 0px 47px;
		background:url(images/fax.png) no-repeat left center;
	
	}
	
/*End Footer */

/* Form Styling */

	.contact-form {
	
		margin:5px 0px 20px 0px;
	
	}
	
	.contact-form label {
	
		display:block;
		margin:0px 0px 2px 0px;
	
	}
	
	.contact-form form {
	
		padding:0px;
		margin:0px;
		
		
	
	}
	
	.contact-form input {
	
		width:200px;
		margin:0px 0px 15px 0px;
		padding:3px;
		border:1px solid #ccc;
		background:#f9f9f9;
	
	}
	
	.contact-form textarea {
	
		width:400px;
		height:100px;
		font-family: "Lucida Sans",Arial,sans-serif;
		font-size:1em;
		margin:0px 0px 15px 0px;
		padding:3px;
		border:1px solid #ccc;
		background:#f9f9f9;
	
	}
	
	input.carbon {
	
		width:25px;
	
	}
	
	input.contacterror, textarea.contacterror {
	
		border:1px solid #7da843;
	
	}
	
	input.submitbutton {
	
		height:31px;
		width:135px;
		border:none;
		padding:0;
		
	}
	
	
	p.information {
	
		background:#f9f9f9;
		border:1px #ccc dotted;
		padding:10px;
		margin:10px 0px 10px 0px;
	
	}
	
	span.conf {
	
		font-size:14px;
		text-transform:uppercase;
		font-weight:bold;
		
		line-height:1.8em;
	}

	

/* End Form Styling */


/*Tools*/

	.center {
		
		margin:0 auto;

	}
	
	.last {
	
		padding-left:0px;
		padding-right:0px;
		margin-left:0px;
		margin-right:0px;
	}
	
	.clear, .clearline {
	
		clear:both; 
		height:1px; 
		margin:0; 
		padding:0; 
		font-size: 15px;
		line-height: 1px;

	}
	
.line {
	height:20px;
	width:100%;
	background: url(images/line.gif) repeat-x center left;

}
	
	.margin-bottom {
	
		margin-bottom:20px;
		
	}
	
	.clearline {
	
		
		border-bottom:solid 1px #36230e;
		margin:15px 0px 20px 0px;

	}
	
	.imgfloatright {
	
		float:left;
		margin-right:10px;
		margin-left:-5px;
	
	}
